<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cuit.infra.dal.database.mapper.course.CourseMapper">

    <resultMap id="BaseResultMap" type="edu.cuit.infra.dal.database.dataobject.course.CourseDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="subject_id" column="subject_id" jdbcType="INTEGER"/>
            <result property="template_id" column="template_id" jdbcType="INTEGER"/>
            <result property="teachar_id" column="teachar_id" jdbcType="INTEGER"/>
            <result property="classroom" column="classroom" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,subject_id,template_id,
        teachar_id,classroom,create_time,
        update_time,is_deleted
    </sql>
</mapper>
