version: '3.1'

services:

  mariadb:
    image: registry.littlestrange.site/eva-system/eva-mariadb-match
    container_name: eva-mariadb-match
    restart: always
    networks:
      - eva-match-net
    volumes:
      - "eva-match-db:/var/lib/mysql"
    environment:
      MARIADB_ROOT_PASSWORD: eva-system

  server:
    image: registry.littlestrange.site/eva-system/eva-server-match
    container_name: eva-server-match
    restart: always
    depends_on:
      - mariadb
    volumes:
      - "./data:/data"
    networks:
      - eva-match-net

  admin:
    image: registry.littlestrange.site/eva-system/eva-management-frontend-match
    container_name: eva-admin-match
    restart: always
    networks:
      - eva-match-net

  nginx:
    image: registry.littlestrange.site/eva-system/eva-nginx-match
    container_name: eva-nginx-match
    restart: always
    volumes:
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - "38081:80"
    networks:
      - eva-match-net

networks:
  eva-match-net:
    driver: bridge

volumes:
  eva-match-db:
