server:
  port: 8080

spring:
  application:
    name: Evaluation-Backend
  profiles:
    active: dev
  datasource:
    druid:
      initialSize: 5
      minIdle: 5
      maxPoolPreparedStatementPerConnectionSize: 20
