name: Build and Publish Prod

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  EVA_VERSION: 2.11-SNAPSHOT
  PROD_IMAGE: ghcr.io/cuit-shanlin/eva-server
  PACKAGE_ACTOR: LystranG
  PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}

jobs:
  build-and-publish:
    runs-on: shanlin
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
          server-username: PACKAGE_ACTOR
          server-password: PACKAGE_TOKEN

      - name: Package server JAR
        run: mvn package -Dmaven.test.skip=true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push prod image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          cache-from: type=registry,ref=${{ env.PROD_IMAGE }}:latest
          cache-to: type=inline
          build-args: |
            JVMOPTIONS=-Dspring.profiles.active=prod
          tags: |
#            ${{ env.PROD_IMAGE }}:${{ env.EVA_VERSION }}
            ${{ env.PROD_IMAGE }}:latest
