name: Build and Publish Test

on:
  push:
    branches:
      - master-test
  workflow_dispatch:

env:
  EVA_TEST_VERSION: 2.19
  TEST_IMAGE: ghcr.io/cuit-shanlin/eva-server-test
  PACKAGE_ACTOR: LystranG
  PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}

jobs:
  build-and-publish:
    runs-on: shanlin
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
          server-username: PACKAGE_ACTOR
          server-password: PACKAGE_TOKEN

      - name: Package server JAR
        run: mvn package -Dmaven.test.skip=true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push test image
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=registry,ref=${{ env.TEST_IMAGE }}:latest
          cache-to: type=inline
          push: true
          build-args: |
            JVMOPTIONS=-Dspring.profiles.active=debug
          tags: |
            ${{ env.TEST_IMAGE }}:latest

      - name: Recreate container
        run: |
          curl -X POST ${{ secrets.PORTAINER_UPDATE_TEST_URL }}
